<!--This is a section which will allow students to choose when login they want to be sent to. Possibly will not use this page.-->
<h1 style="color:#FBFF46;">Login</h1>
<html>
<body style=" background-color: #154051;">
<form action "/loginChoice" method="POST">

<a href="/student_signup" style= "color:#FBFF46; padding-bottom:40px; font-size: 40px;">Student Signup</a>
<br>
<a href="/student_login" style="color:#FBFF46; padding-bottom:40px; font-size: 40px;">Student Login</a>
<br>
<a href="/teacher_signup" style="color:#FBFF46; padding-bottom:40px; font-size: 40px;">Teacher Signup</a>
<br>
<a href="/teacher_login" style="color:#FBFF46; padding-bottom:40px; font-size: 40px;">Teacher Login</a>
<html>