<!--.ejs file for the Teacher Signup, This will prompt for Username, password, check on password, email, Schoolname and a button to login.-->

<h1 style="color:#FBFF46;">Teacher SignUp</h1>
<html>
<body style=" background-color: #154051;">
<form action "/teacher_signup" method="POST">
    <div>
        <label for="userName" style="color:#FBFF46;">UserName:</label>
        <input type="text" id="userName" name="userName" required>
    </div>
    <div>
        <label for="password" style="color:#FBFF46;">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="passwordCheck" style="color:#FBFF46;">RePassword:</label>
        <input type="passwordcheck" id="passwordCheck" name="passwordCheck" required>
    </div>
    <div>
        <label for="email" style="color:#FBFF46;">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="school" style="color:#FBFF46;">School Name:</label>
        <input type="school" id="school" name="school" required>
    </div>
    <button type="submit">Create Account</button>
</form>

    <a href="/teacher_login" style="color:#FBFF46;">Teacher Login</a>
    <html>